/bannercounter.js
/config.py
/duels.db
/give_roles.py
/hb.xlsx
/package.json
/package-lock.json
/node-modules
/paimon_support.js
/result_code_test.png
/support.db
/youtube.com_cookies.txt
/dbbackups
/.vscode
/__pycache__
